<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <settings>
      <!-- set this to the database where you want data studio connector settings retrieved -->
      <setting name="SCDSC.Database" value="master"/>

      <!-- set this to the path of your data studio connector item -->
      <setting name="SCDSC.RootPath" value="/sitecore/system/marketing control panel/data studio connector"/>
    </settings>

    <pipelines>
      <group groupName="dataStudio">
        <pipelines>
          <getSchema>
            <processor type="SCDSC.Pipelines.GetSchema.GetSchemaFromDatabase, SCDSC"/>
          </getSchema>

          <getData>
            <processor type="SCDSC.Pipelines.GetData.GetDataFromDatabase, SCDSC"/>
          </getData>
        </pipelines>
      </group>
    </pipelines>

    <log4net>
      <appender name="DataStudioLogFileAppender" type="log4net.Appender.SitecoreLogFileAppender, Sitecore.Logging">
        <file value="$(dataFolder)/logs/DataStudio.log.{date}.txt" />
        <appendToFile value="true"/>
        <layout type="log4net.Layout.PatternLayout">
          <conversionPattern value="%4t %d{ABSOLUTE} %-5p %m%n"/>
        </layout>
        <encoding value="utf-8"/>
      </appender>

      <logger name="SCDSC" additivity="false">
        <level value="INFO" />
        <appender-ref ref="DataStudioLogFileAppender" />
      </logger>
    </log4net>
  </sitecore>
</configuration>
